@import "edit-form.css";
@import "add-recipe.css";



body {
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  
  font-size: .8rem;
  color: blue;
  font-weight: 800;

}

.recipes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  


}
.card{
  margin-top:20px;
  margin-right: 10px;
  
}
.header>p{
  line-height: 1;
  margin: 0;
  padding: 0;
}

#message-div {
  position: absolute;  
  z-index: 1;
  background-color: antiquewhite;
  right: auto;
  line-height: 1;
  margin-left: 20px;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
      /* Initially hidden */
}

 